main {
    padding-bottom: 7rem;
}

.section-space {
    margin: 12rem 0 0;
}

.section-order {
    margin: 5rem 0rem 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
