input {
    visibility: hidden;
 }

header {
    & .header__container-icons {
        display: flex;
        gap: 2.5rem;
    }
}

#container-cart {
    background-color: var(--rich-black);
    height: 100%;
    width: 36rem;
    padding: 3rem;
    border-left: 0.1rem solid var(--body-color);
    position: fixed;
    top: 0;
    right: -36rem;
    z-index: 2;
    display: flex;
    flex-flow: column;
    gap: 3rem;
    transition-duration: 300ms;
    
    &.open {
        right: 0;
    }

    & .container-cart__header {
        width: 100%;
        height: fit-content;
        color: var(--white);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;

        & h3 {
            font-size: 1.8rem;
        }

        & i {
            color: var(--white);
            font-size: 2.5rem;  
        }
    }

    #container-cart__content {
        max-height: 80%;
        overflow-y: auto;
        display: flex;
        flex-flow: column;
        gap: 0.7rem;

        & .product {
            border-radius: 1rem;
            padding: 1rem 1rem;
            display: flex;
            gap: 1rem;
            position: relative;
    
            & img {
                height: 6rem;
            }

            & .product-information {
                width: 18rem;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                gap: 1rem;
            }

            & .product-button {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                position: absolute;
                bottom: 1rem;
                right: 1rem;

                & p {
                    font-size: 1.5rem;
                }
            }
    
            & button {
                background-color: transparent;
                border: none;

                & i {
                    font-size: 1.5rem;
                    font-weight: 700;
                    cursor: pointer;
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    color: var(--rich-black);
        
                    &:hover {
                        color: var(--rich-black);
                    }
                }
            }
        }
    }

    .container-cart__footer {
        display: flex;
        flex-flow: column;
        gap: 1rem;

        & #cart-price {
            color: var(--total-price);
        }

        & .button__finalize-puchase {
            width: 100%;
            color: black;
            background-color: var(--white);
            padding: 1.1rem 0;
            border-radius: 1rem;
            font-weight: 600;
        }
    }
}

.section-filters {
    margin: 12rem 0 0;
    display: flex;
    justify-content: center;
    gap: 3rem;

    & div {
        display: flex;
        align-items: center;

        & .select {
            width: fit-content;
            height: fit-content;
            padding: 0.9rem 0.7rem;
            border-radius: 0.5rem;
            background-color: var(--rich-black);
            color: var(--white);
        }
    }
}

.section-products {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;

    & .container-product {
        width: 30rem;
        height: 50rem;
        background-color: var(--white);
        border-radius: 1rem;
        box-shadow: inset 0 0 6px 1px rgba(0,0,0,.2);
        padding: 3rem;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        transition: scale ease-in 5s;
    
        & .product-image {
            width: 20rem;
            height: 25%;
            object-fit: contain;
            cursor: pointer;
            align-self: center;

            &:hover {
                scale: 115%;
            }
        }

        & .button-add-cart {
            width: 100%;
            background-color: var(--rich-black);
            color: var(--white);
            font-size: 1.5rem;
            padding: 1.2rem 1rem;
            border-radius: 0.5rem;
            border: 0.1rem solid var(--rich-black);
            transition: color ease-in 200ms;
            display: flex;
            gap: 1rem;
            justify-content: center;

            &:hover {
                background-color: var(--white);
                color: var(--rich-black);
                border-color: var(--rich-black);
            }
        }
    }
}

@media screen and (max-width: 452px) {
    .section-filters {
        & div {
            & label {
                font-size: 1.3rem;
            }
        }
    }    
}

@media screen and (max-width: 380px) {
    .section-filters {
        & div {
            & label {
                font-size: 1.1rem;
            }
        }
    }    
}